#conteneur{
    position: relative;
}
#logo{
    position: absolute;
    top: 0px;
    left: 200px
    ;
}
#banniere{
	 position: absolute;
	 bottom: 2px;
	

}
.menu{
    display: flex;
    background-image: url(WA/header-bg.jpg);
    padding: 25px;
    justify-content:flex-end;
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: white;
}

.menu li{
    margin:10px ;
    min-width: 150px;
}
#rdm{
    border:1px solid aqua ; 
}



